body{
	margin:0;
	padding:20px;
	font-family: sans-serif;
    /* background: url(img/cool-background.png); */
    /* counter-reset: Serial;         */

}

*{
	box-sizing: border-box;
}
.OptionDetails{
    display: flex;
}
.table{
	width: 100%;
	border-collapse: collapse;
}
/* .Priority:before
{
  counter-increment: Serial;      /* Increment the Serial counter */
  /* content:counter(Serial); 
} */
.hide{
    display: none;
}
/* .header{
    margin-top: 62px;
} */
/* ------------------------------------------------------------------------------------------ */
/* .error-notice{
   
  } */
  
  .oaerror{
    width: 428px;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    margin: 10px auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  .danger{
    border-left-color: #d9534f; /* Left side border color */
    /* background-color: rgba(217, 83, 79, 0.1); */
  }
  
  .danger strong{
    color:#d9534f;
  }

 /* --------------------------------------------------------------------------------------------------------------  */
.error-msg {
    margin: 0px 0px 0px 150px;
    padding: 4px;
    width: 152px;
    border-radius: 16px 16px 16px 16px;
}
.error-msg {
    color: #D8000C;
    background-color: #FFBABA;
  }
  
.form-check{
margin-left:20px;
padding-top: 7px !important;
}
#small{
    border-block: inherit !important;
    /* width: 60px !important; */
    border: 8px solid white !important;
}
.svbtn{
background-color:#aab3b9;
border-radius:1px;
}
.ar{
    -webkit-appearance: none;
    color: #fff;
    padding: 4px 14px;
    outline: none;
    font-size: 14px;
    width: 111px;
    /* border: none; */
height: 40px;
    font-weight: 500;
    border-radius: 12px;
    /* text-transform: capitalize; */
    letter-spacing: 1px;

}
.wrapper{
    display: flex;
    margin-bottom: -22px;
}
#myTable{
    border-spacing: 0 1em;
}
.Categories{
    padding-left: 22px;
}
select{
    padding: .375rem .75rem !important;
}
#Schedule{
    background-color: #aab3b9 !important;
    border-color:#aab3b9 !important;
    width: 145px;
    height: 44px;
    margin-top: -4px;
    border-radius: 8px 8px 8px 8px;
}
.options{
    background-color: #77AEEF;
    border-radius: 10px;
    border: none;
}

#Cal{
    width: 137px;
    height: 34px;
    margin-left: 11px;
}
.AddRemove{
    padding: 1px 15px 2px 13px;
}

.svbtn{
background-color:#aab3b9;

margin-left: 69px;
}
#hd{
	 background-color: #aab3b9;
}
.important option{
    font-size: 16px;
    padding: 5px;
font-weight: 400;
    
}


.important {background: rgb(252, 113, 80);} 
.InProgress{
    background: rgb(81, 133, 252); }
.InReview{
    background: rgb(252, 174, 81);
}
.Completed{
    background: rgb(77, 215, 120);
}
.Cancelled{
    background: rgb(255, 91, 91);
}
.NotStarted{background: rgb(252, 113, 80);} 


th {
    border-block: inherit !important;
    /* width: 150px !important; */
    text-align: center !important;
    border: 8px solid white !important;
    padding: 5px !important;
   }
   
   .form-check{
    margin-left:20px;
    padding-top: 7px !important;
    }

hr.new4 {
  border: 1px solid red;
}
.Priority{
    padding-left: 26px;
   
}
#PriorityTxt{
    border: 1px solid;
    padding: .375rem .75rem;
}
.input-group{
    margin: auto;
    width: 50% !important;
    padding: 10px;
    margin-top: 60px;
}
#inputGroupSelect04{
    width: 662px;
}
/* textarea{
    width: 254px !important;
} */

.ConnetTo{
    padding-left: 18px;
}
.Task{
    padding-left: 22px;
}
.Option1{
    padding-left: 34px;
}
.Option2{
    padding-left: 2px;
}
.Option3{
    padding-left: 2px;

}
.Status{
    padding-left: 30px;
}
.ButtonWrapper{
    display: inline-block;
    /* margin-left: 16px; */
}


.Deletebtn{
    padding-left: 30px;
}
.TableBod{
    border-collapse: inherit !important;
}
#TableAppend{
    margin-top: 26px;
}
.container{
    margin-top: 40px !important;
    margin-left: unset !important;
}
.SaveBtn{
    margin-left: 661px;
    width: 50%;
   
    padding: 10px;
}
.Priority_border{
    border: 1px solid transparent;
    padding: .375rem .75rem;
}
/* #Table {
    counter-reset: serial-number;  
    }
    #Table td:first-child span:before {
    counter-increment: serial-number; 
    content: counter(serial-number);  
    } */

    .table td,.table th{
        padding: 10px 0px 8px 0 !important;
        /* border:1px solid #ddd; */
        text-align: center;
        font-size:16px;
      }
      

      @media(max-width: 500px){
        .table th{
            display: none;
        }
        .header{
            margin-top:0;

        }
    
        .table, .table tbody, .table tr, .table td{
            display: block;
            width: 100%;
        }
        .table tr{
            margin-bottom:15px;
        }
        /* .SaveBtn{
            margin-left: 0;
        } */
        .table td{
            text-align: right !important;
            padding-left: 50% !important;
            text-align: right;
            position: relative;
        }
        .table td::before{
            content: attr(data-label);
            position: absolute;
            left:0;
            width: 50%;
            padding-left:15px;
            font-size:15px;
            font-weight: bold;
            text-align: left;
        }

        .OptionDetails{
            padding-left: 79px;
        }
        select{
            padding: 9px !important;
        }
    }
  
    @media(min-width: 375px){
        #Cal{
          
            margin-top:0;
        }
    }

    @media(max-width: 432px){
        .OptionDetails{
            padding-left: 50px;
        }
        .SaveBtn{
            margin-left: 140px;
        }

    }
    @media(max-width: 379px){
        .OptionDetails{
        padding-left: 13px;
        }
        #Schedule{
            height: auto !important;
        }
        #Cal{
            width: auto !important;
            margin-top: 24px;
        }
        .error-msg{
            margin-left: 138px;
  width: 118px;
        }
        .ConnetTo{
            padding-left: unset !important;
        }
        .oaerror{
            width: 322px;
        }
        .SaveBtn{
            margin-left: 78px;
        }
       
    }
    @media(max-width: 374px){
    .options{
        padding: 0px !important;
    }

    .ConnetTo .selectpicker{
        padding: 3px !important;
    }
}

    @media(min-width:767px){
        #Table{
            margin: auto !important;
        }
        .Priority_border{
            font-size: 25px !important;
        }
        .OptionDetails{
            /* padding-left: 50px; */
            margin-left: 17px;
        }
    }


    #datepicker{
    
        margin: auto;
        position: absolute;
        right: 522px;
        bottom: 42px;
        /* background: #ddd; */
        width: 118px;
        height: 40px;
        padding: 0px 0px 0px 15px;
        border-radius: 8px 0px 0px 8px;
        border-right: none;
        border:2px solid black;
    }
    #datapicker:focus{
    outline: none!important;
    }
    
        #CalenderIcon {
            position: absolute;
            /* left: 191px; */
            /* top: 10px; */
            right: 486px;
            bottom: 42px;
            border-radius: 0px 8px 8px 0px;
            border: 2px solid;
            padding: 5px;
            height: 40px;
            border-left: none;
    
        }
        #calicn{
            padding:inherit;
    
        }
textarea{
    margin-left: 5px !important;
}
   
