.OptionDetails{
    display: flex;
}
.form-check{
margin-left:20px;
padding-top: 7px !important;
}

.svbtn{
background-color:#aab3b9;
border-radius:1px;
}
#common{
    margin-left: 130px!important;
    
}
#com2{
    margin-left: 138px;
}
#com3{
    margin-left: 150px;
}
#com4{
    margin-left: 146px;
}
.wrapper{
    display: flex;
    margin-bottom: 21px;
}
#myTable{
    border-spacing: 0 1em;
}
.Categories{
    padding-left: 156px;
}
#inputGroupSelect04{
    width: 647px !important;
}
select{
    padding: .375rem .75rem !important;
}
#Schedule{
    background-color: #aab3b9 !important;
    border-color:#aab3b9 !important;
    width: 145px;
    height: 34px;
}
.options{
    background-color: aqua;
}

#Cal{
    width: 137px;
    height: 34px;
    margin-left: 11px;
}
.AddRemove{
    padding: 1px 15px 2px 13px;
}

.svbtn{
background-color:#aab3b9;

margin-left: 69px;
}
#hd{
	 background-color: #aab3b9;
}
#small{
    border-block: inherit !important;
    width: 60px !important;
    border: 8px solid white !important;
}

th {
    border-block: inherit !important;
    width: 150px !important;
    text-align: center !important;
    border: 8px solid white !important;
    padding: 5px !important;
 
}

hr.new4 {
  border: 1px solid red;
}

.Priority{
    padding-left: 40px;
}
.Navi{
    border: none;
    padding: 6px 14px;
    margin-left: 14px;
    border-radius: 20px;
    background-color: #369defbf;
}
.date-wrapper{
    margin-top: 64px;
}


.input-group{
    margin: auto;
    width: 44% !important;
    padding: 10px;
    margin-top: 60px;
}


.input-group-append{ 
    margin-left: 13px!important;
    }
.ConnetTo{
    padding-left: 40px;
}
#edit{
    margin-top: 39px;
    border-radius: 5px;
    padding: 8px;
    border: none;
    margin-left: 706px;
}
#indi{
   
   
    color: #fff;
    padding: 4px 14px;
    outline: none;
    font-size: 14px;
    width: 111px;
    border: none;
    height: 40px;
    font-weight: 500;
    border-radius: 12px;
    /* text-transform: capitalize; */
    letter-spacing: 1px;
    margin-left: 134px;
    
}
.btn btn-outline-secondary{
    margin-left: 16px!important;
}
.Option1{
    padding-left: 58px;
}
.Option2{
    padding-left: 50px;
}
.Option3{
    padding-left: 54px;

}
.ButtonWrapper{
    display: inline-block;
    margin-left: 16px;
}


.Deletebtn{
    padding-left: 30px;
}
.TableBod{
    border-collapse: inherit !important;
}
#TableAppend{
    margin-top: 26px;
}
.container{
    margin-top: 88px !important;
}
.SaveBtn{
    margin-left: 640px;
}
#Table {
    counter-reset: serial-number;  
    }
    #Table td:first-child span:before {
    counter-increment: serial-number; 
    content: counter(serial-number);  
    }
